QWidget[name="main"] {
    background-color:rgba(0,0,0,30%);
    border-radius: 5px 5px 5px 5px;
}

VButton {

    margin:1px;
    padding:0px;
    border-style: outset;
    border-radius: 5px;
    border-width: 1px;
    
    font-size:13px;
    font-weight:bold;
    
    border-color: #000000;
    background-color: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #000000, stop: 1 #555555);

    color:#cccccc;
}

VButton:pressed {
    
    border-style: inset;
}
VButton:checked {
    
    border-style: inset;
    border-width: 2px;
    border-color: #999999;
}
VButton:hover {
    border-width:2px;
    border-color: #555555;
}

VButton[action="toggleExtension"] {
  background-color:gray;
  border-color: gray;
}
VButton[action="toggleVisibility"] {
  background-color:red;
  border-color:red;
}