[Desktop Entry]
Name=Kvkbd
Name[cs]=Kvkbd
Name[de]=Kvkbd
Name[fi]=Kvkbd
Name[nl]=Kvkbd
Name[pl]=Kvkbd
Name[pt]=Kvkbd
Name[pt_BR]=Kvkbd
Name[sk]=Kvkbd
Name[uk]=Kvkbd
Name[x-test]=xxKvkbdxx
Exec=kvkbd
Icon=preferences-desktop-keyboard
Type=Application
Comment=A virtual keyboard for KDE
Comment[cs]=Virtuální klávesnice pro KDE
Comment[de]=Eine virtuelle Tastatur für KDE
Comment[fi]=KDE:n virtuaalinäppäimistö
Comment[nl]=Een virtueel toetsenbord voor KDE
Comment[pl]=Wirtualna klawiatura dla KDE
Comment[pt]=Um teclado virtual para o KDE
Comment[pt_BR]=Um teclado virtual para o KDE
Comment[sk]=Virtuálna klávesnica pre KDE
Comment[uk]=Віртуальна клавіатура для KDE
Comment[x-test]=xxA virtual keyboard for KDExx
GenericName=Virtual Keyboard
GenericName[cs]=Virtuální klávesnice
GenericName[de]=Virtuelle Tastatur
GenericName[fi]=Virtuaalinäppäimistö
GenericName[nl]=Virtueel toetsenbord
GenericName[pl]=Wirtualna klawiatura
GenericName[pt]=Teclado Virtual
GenericName[pt_BR]=Teclado virtual
GenericName[sk]=Virtuálna klávesnica
GenericName[uk]=Віртуальна клавіатура
GenericName[x-test]=xxVirtual Keyboardxx
Categories=Qt;KDE;Utility;Accessibility;
Terminal=false

