[Desktop Entry]
Name=Kvkbd
Name[x-test]=xxKvkbdxx
Exec=kvkbd
Icon=preferences-desktop-keyboard
Type=Application
Comment=A virtual keyboard for KDE
Comment[bg]=Виртуална клавиатура за KDE
Comment[el]=Ένα εικονικό πληκτρολόγιο για το KDE
Comment[es]=Un teclado virtual para KDE
Comment[et]=KDE virtuaalne klaviatuur
Comment[fr]=Clavier virtuel pour KDE
Comment[ga]=Méarchlár fíorúil le haghaidh KDE
Comment[gl]=Un teclado virtual para KDE
Comment[he]=מקלדת וירטואלית עבור KDE
Comment[ja]=KDE の仮想キーボード
Comment[km]=ក្ដារចុច​​និម្មិត​​សម្រាប់ KDE
Comment[ko]=KDE 가상 키보드
Comment[pt]=Um teclado virtual para o KDE
Comment[pt_BR]=Um teclado virtual para o KDE
Comment[ro]=Tastatură virtuală pentru KDE
Comment[sv]=Ett virtuellt tangentbord för KDE
Comment[uk]=Віртуальна клавіатура для KDE
Comment[x-test]=xxA virtual keyboard for KDExx
GenericName=Virtual Keyboard
GenericName[el]=Εικονικό πληκτρολόγιο
GenericName[et]=Virtuaalne klaviatuur
GenericName[fr]=Clavier visuel
GenericName[gl]=Teclado virtual
GenericName[km]=ក្ដារចុច​និម្មិត
GenericName[ko]=가상 키보드
GenericName[pt]=Teclado Virtual
GenericName[pt_BR]=Teclado Virtual
GenericName[sv]=Virtuellt tangentbord
GenericName[uk]=Віртуальна клавіатура
GenericName[x-test]=xxVirtual Keyboardxx
Categories=Qt;KDE;Utility;Accessibility;
Terminal=false

